@model IEnumerable<BookLoansPorject.Models.Book>

@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Common

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-12">
        <h3 class="text-center">Book List</h3>

        <div class="d-flex justify-content-end mb-1">
            <a href="@Url.Action("Create", "Books")" class="btn btn-primary btn-sm">Create New Book</a>
        </div>

        <table class="table table-bordered table-striped table-sm">
            <thead class="table-success">
                <tr>
                    <th></th>
                    <th>Cover</th>
                    <th>Book Title</th>
                    <th>Author Name</th>
                    <th>Genre</th>
                    <th>Is Available ?</th>
                    <th>...</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model)
                {
                    <tr style="vertical-align:middle" id="tr_@t.BookId">
                        <td class="text-center">
                            <button type="button" id="show_@t.BookId" class="btn btn-link btn-sm show" data-aid="@t.BookId"><i class="bi bi-plus-square"></i></button>
                            <button type="button" id="hide_@t.BookId" class="btn btn-link btn-sm hide" data-aid="@t.BookId" style="display:none"><i class="bi bi-dash-square"></i></button>
                        </td>
                        <td class="text-center"><img src="~/Pictures/@t.BookCover" class="img-thumbnail rounded" style="width:70px" /></td>
                        <td>@t.Title</td>
                        <td>@t.Author</td>
                        <td>@t.Genre</td>
                        <td>@(t.IsAvailable ? "Yes" : "No")</td>
                        <td>
                            <a title="Edit this item" href="@Url.Action("Edit", "Books", new {id=t.BookId})" class="btn btn-success btn-sm"><i class="bi bi-pencil"></i></a>
                            <button type="button" title="Delete this item" data-pk="@t.BookId" href="@Url.Action("Delete", "Books", new {id=t.BookId})" class="btn btn-danger btn-sm del"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                    <tr style="display:none" id="p_@t.BookId">
                        <td></td>
                        <td colspan="8">
                            <h4>List of Book Borrowers</h4>
                            <table class="table table-bordered table-sm">
                                <thead class="table-light">
                                    <tr>
                                        <th>Borrower Name</th>
                                        <th>Borrower Address</th>
                                        <th>Borrower Phone</th>
                                        <th>Loan Date</th>
                                        <th>Return Date</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var p in t.BookLoans)
                                    {
                                        <tr>
                                            <td>@p.BorrowerName</td>
                                            <td>@p.Address</td>
                                            <td>@p.Phone</td>
                                            <td>@p.LoanDate.ToString("yyyy-MM-dd")</td>
                                            <td>@p.ReturnDate.ToString("yyyy-MM-dd")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-end">
                @Html.PagedListPager((IPagedList)Model, pg => Url.Action("Index", new { pg = pg }), new PagedListRenderOptions
                {
                    LiElementClasses = new string[] { "page-item" },
                    PageClasses = new string[] { "page-link" }
                })
            </div>
    </div>
</div>
<div class="modal" tabindex="-1" id="delmodal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-warning">
                <h5 class="modal-title">Delete Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="btnyes">Yes</button>
            </div>
        </div>
    </div>
</div>
@section styles
{
    <link href="~/Content/bootstrap-icons-1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/jquery-3.7.0.js"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script>
        $(() => {
            $(".show").click(function () {
                var aid = $(this).data("aid");
                $(`#p_${aid}`).show();
                $(`#hide_${aid}`).show();
                $(this).hide();
            });
            $(".hide").click(function () {
                var aid = $(this).data("aid");
                $(`#p_${aid}`).hide();
                $(`#show_${aid}`).show();
                $(this).hide();
            })
        });
    </script>

    <script>
        var delModal;
        var delId = -1;
        $(() => {
            delModal = new bootstrap.Modal(document.getElementById('delmodal'));
            $(".del").click(function () {
                delModal.show();
                delId = $(this).data("pk");
                console.log(delId);
            });
            $("#btnyes").click(() => {
                $.ajax({
                    type: "post",
                    url: "/Books/Delete/" + delId,
                    dataType: "json",
                    success: (r) => {
                        if (r.success == true) {
                            $("#tr_" + delId).remove();
                            $("#tr_p" + delId).remove();
                        }
                    }
                });
                delModal.hide();
            });
        })
    </script>
}

